.header{
    color: red;
}
.shirt{
color: blue;
}
.pants{
    color: green;
}
.decorations{
color: blueviolet;
}
.differences{
    color: brown;
}
.bucovuna{
    color: brown;
}
.zahid-zakarpat{
    color: rgb(0, 145, 255);

}
.chidne-zakarpat{
    color: red;

}
.lviv{
    color: orange;

}
.chernigiv{
    color: yellow;

}
.poltava{
    color: rgb(18, 18, 206);

}
.kyiv{
    color: green;

}
.volun{
    color: grey;

}
.podil{
    color: burlywood;

}
.harkiv{
    color: orangered;

}
.dnipro{
    color: blueviolet;

}
.donetsk{
    color: yellowgreen;
}
.zhutomur{
    color: rgb(0, 157, 255);
}
.ternopil{
    color: rgb(205, 37, 110);
    
}
.frankivsk{
    color: rgb(119, 25, 25);
    
}
.vinhmel{
    color: blanchedalmond;
    
}